# Calculo Manual de Betas

Para el calculo manual de los estimadores Betas se busca satisfacer la siguiente operación:

$(X^{T}X)^{-1}X^{T}Y$

Donde:
- X: Es la matriz compuesta por las columnas de las variables independientes.
- Y: Una matriz compuesta por una columna con la variable dependiente.

En este caso, se buscará explicar el salario de los trabajadores en base a la eduación, experiencia y su permanencia.

## Librerias

In [1]:
##### Tratamiento de Datos ####
# ==============================================================================

import pandas as pd
import numpy as np

## Carga de datos

In [2]:
#### Carga de datos en un DataFrame ###
df= pd.read_csv("datasets/Regresion.csv")
df

     Salario  Educacion  Experiencia  Permanencia
0       3.10         11            2            0
1       3.24         12           22            2
2       3.00         11            2            0
3       6.00          8           44           28
4       5.30         12            7            2
..       ...        ...          ...          ...
242     3.06         12           14           10
243     3.20         12           15            5
244     4.75         12           19            0
245     3.00         14           17            0
246     4.00         12           72           12

[247 rows x 4 columns]

In [3]:
# Se pasará el dataframe a una lista, a fin de evitar problemas de tipeo al llamar a las variables.
list(df)

['Salario', 'Educacion', 'Experiencia', 'Permanencia']

### Se separará el DataFrame como se  mencionó al inicio.

In [4]:
Y=df["Salario"]

In [5]:
print(Y)

0      3.10
1      3.24
2      3.00
3      6.00
4      5.30
       ...
242    3.06
243    3.20
244    4.75
245    3.00
246    4.00
Name: Salario, Length: 247, dtype: float64

In [6]:
X=df[['Educacion', 'Experiencia', 'Permanencia']]

In [7]:
print(X)

     Educacion  Experiencia  Permanencia
0           11            2            0
1           12           22            2
2           11            2            0
3            8           44           28
4           12            7            2
..         ...          ...          ...
242         12           14           10
243         12           15            5
244         12           19            0
245         14           17            0
246         12           72           12

[247 rows x 3 columns]

In [8]:
#Crear la columna intercepto con un valor 1.

X['Intercepto']=1

In [9]:
list(X)

['Educacion', 'Experiencia', 'Permanencia', 'Intercepto']

In [10]:
# Se colocará primero la columna de Intercepto por formalidad.
X=X[['Intercepto','Educacion', 'Experiencia', 'Permanencia',]]

### Pasar a matriz
Se pasará los dataframe al formato de matriz para poder realizar las operaciones correspondientes.

In [11]:
# Matriz para la columna de la variable dependiente.
Y=np.asarray(Y)

In [12]:
# Matriz para el dataframe compuesto por las variables independientes.
X=np.asarray(X)

In [13]:
print(X)

[[ 1 11  2  0]
 [ 1 12 22  2]
 [ 1 11  2  0]
 [ 1  8 44 28]
 [ 1 12  7  2]
 [ 1 16  9  8]
 [ 1 18 15  7]
 [ 1 12  5  3]
 [ 1 12 26  4]
 [ 1 17 22 21]
 [ 1 16  8  2]
 [ 1 13  3  0]
 [ 1 12 15  0]
 [ 1 12 18  3]
 [ 1 80 20 14]
 [ 1 12 31 15]
 [ 1 16 14  0]
 [ 1 12 10  0]
 [ 1 13 16 10]
 [ 1 12 13  0]
 [ 1 12 36  6]
 [ 1 12 11  4]
 [ 1 12 29 13]
 [ 1 16  9  9]
 [ 1 12  3  1]
 [ 1 11 37  8]
 [ 1 16  3  3]
 [ 1 16 11 10]
 [ 1 16 31  0]
 [ 1 15 30  0]
 [ 1  8  9  1]
 [ 1 14 23  5]
 [ 1 14  2  5]
 [ 1 13 16 16]
 [ 1 12  7  3]
 [ 1 12  3  0]
 [ 1 16 22  4]
 [ 1 12 15  6]
 [ 1  4 39 15]
 [ 1 14  3  3]
 [ 1 12 11  0]
 [ 1 12  3  0]
 [ 1 12 20  5]
 [ 1 14 16  0]
 [ 1 11 45 12]
 [ 1 13 11  4]
 [ 1 15 20 13]
 [ 1 10  1  0]
 [ 1 12 36  2]
 [ 1 12 11 20]
 [ 1 14  9  2]
 [ 1 12 15  1]
 [ 1 12 18  0]
 [ 1 16  3  2]
 [ 1 12 15  5]
 [ 1 12  7  7]
 [ 1 12  2  0]
 [ 1 15  3  0]
 [ 1 16  1  1]
 [ 1  8 13  0]
 [ 1 18  8  8]
 [ 1 16  7  0]
 [ 1 13 40 20]
 [ 1 18 30 40]
 [ 1 14 42  5]
 [ 1 10 36  8]
 [ 1 10 13  0]
 [ 1 14  9  3]
 [ 1 14 26 23]
 [ 1 16  7  4]
 [ 1 12 25  3]
 [ 1 16 10  5]
 [ 1 12  3  2]
 [ 1 16  3  0]
 [ 1 17 17  2]
 [ 1 12 17  8]
 [ 1 12 20 34]
 [ 1 12  7  0]
 [ 1 13 24 19]
 [ 1 12 28  0]
 [ 1 12  2  1]
 [ 1 12 19 13]
 [ 1 18 13  0]
 [ 1  9 22  5]
 [ 1 16  3  1]
 [ 1 10  4  0]
 [ 1 12  7  5]
 [ 1 12  6  2]
 [ 1 12 13  3]
 [ 1 12 14  0]
 [ 1 12 14  4]
 [ 1  8 40 24]
 [ 1 12 11  7]
 [ 1 12 14  6]
 [ 1 14 40 39]
 [ 1 12  1  0]
 [ 1 12  2  0]
 [ 1 12  4  1]
 [ 1  9 19  1]
 [ 1 13  1  0]
 [ 1 12 34 22]
 [ 1 14  5  2]
 [ 1 12  3  0]
 [ 1 15  6  6]
 [ 1 12 14  0]
 [ 1 12 35 12]
 [ 1 12  8  4]
 [ 1 14  7  7]
 [ 1 15 11  3]
 [ 1 12 14 11]
 [ 1 12 35 10]
 [ 1 12 46  0]
 [ 1 17  7  0]
 [ 1 11 45 12]
 [ 1 18 29 25]
 [ 1 12  6  3]
 [ 1 14 15  0]
 [ 1 14 33 16]
 [ 1 10 15  0]
 [ 1 14  5  0]
 [ 1 12  7  2]
 [ 1 15  6  1]
 [ 1  8 33 12]
 [ 1 16  2  1]
 [ 1 14  4  0]
 [ 1 15  1  0]
 [ 1 12 29  0]
 [ 1 18 17  3]
 [ 1 16 17  3]
 [ 1 10 36  3]
 [ 1  8 31 30]
 [ 1 10 23  2]
 [ 1 11 13  1]
 [ 1 18  3  3]
 [ 1 15 15  0]
 [ 1 12 48  1]
 [ 1 11  6  0]
 [ 1 12 12  0]
 [ 1 12  5  0]
 [ 1 14 19  5]
 [ 1 16  9  3]
 [ 1  2 39 13]
 [ 1 14 28 11]
 [ 1 16 23 20]
 [ 1 12  2  0]
 [ 1 12 15  1]
 [ 1 13  5  0]
 [ 1 12 18  2]
 [ 1 15  2  2]
 [ 1 10  3  0]
 [ 1 12 31  4]
 [ 1 16 20  5]
 [ 1 13 34 15]
 [ 1  9  5  0]
 [ 1 12 11  0]
 [ 1 13 31  3]
 [ 1 12  8  5]
 [ 1 12  2  2]
 [ 1 14 18  5]
 [ 1 16  3  0]
 [ 1 16  3  2]
 [ 1  9  4  1]
 [ 1 18  4  4]
 [ 1 10  1  0]
 [ 1 10  1  0]
 [ 1 13 28  5]
 [ 1 12 47  4]
 [ 1 18 13  1]
 [ 1 13  2  6]
 [ 1 12 48  2]
 [ 1 13  6  5]
 [ 1 13  8  0]
 [ 1 13 25 21]
 [ 1 18 13  7]
 [ 1 12  8  1]
 [ 1 12 19 10]
 [ 1 13  1  4]
 [ 1 12 43  5]
 [ 1 12 19  9]
 [ 1 12 11  5]
 [ 1 14 43  4]
 [ 1 10 44  3]
 [ 1 12 22 11]
 [ 1 16  3  2]
 [ 1 16  3  2]
 [ 1 12 41 11]
 [ 1 14  5  0]
 [ 1 12 14 11]
 [ 1 12 24 16]
 [ 1 12 28  8]
 [ 1 12 25  8]
 [ 1 12  3  0]
 [ 1 12 11  0]
 [ 1 12  7  6]
 [ 1 16  9  2]
 [ 1 16  5  0]
 [ 1 14  9  3]
 [ 1 11  1  0]
 [ 1 16  2  1]
 [ 1 12 13  0]
 [ 1 12 10  2]
 [ 1 17  5  3]
 [ 1 12 30  8]
 [ 1 12 31 19]
 [ 1 16  1  2]
 [ 1  8  9  0]
 [ 1 12 10  0]
 [ 1 12 38  0]
 [ 1 12 19  6]
 [ 1 16  5  0]
 [ 1 12 26  2]
 [ 1 12 35 12]
 [ 1  9  2  0]
 [ 1 16 19 10]
 [ 1 14  3  2]
 [ 1  8 36 24]
 [ 1 14 29 24]
 [ 1 13  1  2]
 [ 1 12 38  3]
 [ 1 18  1  2]
 [ 1  9 29  0]
 [ 1  8 36 15]
 [ 1  8  4  0]
 [ 1 12 45  4]
 [ 1 14 22  3]
 [ 1 12 20  4]
 [ 1 16  5  0]
 [ 1  8 15  2]
 [ 1 13 10  2]
 [ 1  9  3  0]
 [ 1 16 16  7]
 [ 1 12 38  1]
 [ 1 15 33 26]
 [ 1 11  2  0]
 [ 1 14  6  5]
 [ 1 12 19  3]
 [ 1 12 29  0]
 [ 1 12  2  0]
 [ 1 18  3  1]
 [ 1 12  4  0]
 [ 1 12 10  1]
 [ 1 12  4  0]
 [ 1 12 14 10]
 [ 1 12 15  5]
 [ 1 12 19  0]
 [ 1 14 17  0]
 [ 1 12 72 12]]

$ X^{T}$

In [14]:
# Se calculará la matriz transpuesta.
XT=np.transpose(X)

In [15]:
print(XT)

[[ 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
   1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
   1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
   1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
   1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
   1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
   1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
   1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
   1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
   1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
   1  1  1  1  1  1  1]
 [11 12 11  8 12 16 18 12 12 17 16 13 12 12 80 12 16 12 13 12 12 12 12 16
  12 11 16 16 16 15  8 14 14 13 12 12 16 12  4 14 12 12 12 14 11 13 15 10
  12 12 14 12 12 16 12 12 12 15 16  8 18 16 13 18 14 10 10 14 14 16 12 16
  12 16 17 12 12 12 13 12 12 12 18  9 16 10 12 12 12 12 12  8 12 12 14 12
  12 12  9 13 12 14 12 15 12 12 12 14 15 12 12 12 17 11 18 12 14 14 10 14
  12 15  8 16 14 15 12 18 16 10  8 10 11 18 15 12 11 12 12 14 16  2 14 16
  12 12 13 12 15 10 12 16 13  9 12 13 12 12 14 16 16  9 18 10 10 13 12 18
  13 12 13 13 13 18 12 12 13 12 12 12 14 10 12 16 16 12 14 12 12 12 12 12
  12 12 16 16 14 11 16 12 12 17 12 12 16  8 12 12 12 16 12 12  9 16 14  8
  14 13 12 18  9  8  8 12 14 12 16  8 13  9 16 12 15 11 14 12 12 12 18 12
  12 12 12 12 12 14 12]
 [ 2 22  2 44  7  9 15  5 26 22  8  3 15 18 20 31 14 10 16 13 36 11 29  9
   3 37  3 11 31 30  9 23  2 16  7  3 22 15 39  3 11  3 20 16 45 11 20  1
  36 11  9 15 18  3 15  7  2  3  1 13  8  7 40 30 42 36 13  9 26  7 25 10
   3  3 17 17 20  7 24 28  2 19 13 22  3  4  7  6 13 14 14 40 11 14 40  1
   2  4 19  1 34  5  3  6 14 35  8  7 11 14 35 46  7 45 29  6 15 33 15  5
   7  6 33  2  4  1 29 17 17 36 31 23 13  3 15 48  6 12  5 19  9 39 28 23
   2 15  5 18  2  3 31 20 34  5 11 31  8  2 18  3  3  4  4  1  1 28 47 13
   2 48  6  8 25 13  8 19  1 43 19 11 43 44 22  3  3 41  5 14 24 28 25  3
  11  7  9  5  9  1  2 13 10  5 30 31  1  9 10 38 19  5 26 35  2 19  3 36
  29  1 38  1 29 36  4 45 22 20  5 15 10  3 16 38 33  2  6 19 29  2  3  4
  10  4 14 15 19 17 72]
 [ 0  2  0 28  2  8  7  3  4 21  2  0  0  3 14 15  0  0 10  0  6  4 13  9
   1  8  3 10  0  0  1  5  5 16  3  0  4  6 15  3  0  0  5  0 12  4 13  0
   2 20  2  1  0  2  5  7  0  0  1  0  8  0 20 40  5  8  0  3 23  4  3  5
   2  0  2  8 34  0 19  0  1 13  0  5  1  0  5  2  3  0  4 24  7  6 39  0
   0  1  1  0 22  2  0  6  0 12  4  7  3 11 10  0  0 12 25  3  0 16  0  0
   2  1 12  1  0  0  0  3  3  3 30  2  1  3  0  1  0  0  0  5  3 13 11 20
   0  1  0  2  2  0  4  5 15  0  0  3  5  2  5  0  2  1  4  0  0  5  4  1
   6  2  5  0 21  7  1 10  4  5  9  5  4  3 11  2  2 11  0 11 16  8  8  0
   0  6  2  0  3  0  1  0  2  3  8 19  2  0  0  0  6  0  2 12  0 10  2 24
  24  2  3  2  0 15  0  4  3  4  0  2  2  0  7  1 26  0  5  3  0  0  1  0
   1  0 10  5  0  0 12]]

$ (X^{T}X)$

In [16]:
# Se realizará el producto entre las matrices.
P=np.dot(XT,X)

In [17]:
print(P)

[[   247   3238   3985   1294]
 [  3238  48480  50451  17401]
 [  3985  50451 107483  32585]
 [  1294  17401  32585  19640]]

$(X^{T}X)^{-1}$

In [18]:
# Se calculará la matriz inversa de este producto.
I=np.linalg.inv(P)

In [19]:
print(I)

[[ 4.21053449e-02 -2.33311005e-03 -5.06241782e-04  1.32893081e-04]
 [-2.33311005e-03  1.70357392e-04  1.14574013e-05 -1.62262725e-05]
 [-5.06241782e-04  1.14574013e-05  3.15095968e-05 -2.90750299e-05]
 [ 1.32893081e-04 -1.62262725e-05 -2.90750299e-05  1.04775946e-04]]

$(X^{T}X)^{-1}X^{T}$

In [20]:
# Se multiplicará la matriz transpuesta por su inversa.
PT=np.dot(I,XT)

$(X^{T}X)^{-1}X^{T}Y$

In [21]:
# Finalmente para el calculo de los estimadores betas, será necesario multiplicar por la columna de las variables
# independientes.
B=np.dot(PT,Y)

# Obtencion de los Betas

In [22]:
# La variable donde almacenaos estos estimadores fue denominada como "B".
print(B)

[ 4.33014434e+00  7.57577042e-02 -4.16277174e-03  2.21452512e-01]

In [23]:
# Se le dará un formato más amigable visualmente.
list(map('{:.3f}'.format,B) )

['4.330', '0.076', '-0.004', '0.221']

In [24]:
list(df)

['Salario', 'Educacion', 'Experiencia', 'Permanencia']

In [25]:
# Por otra parte, este calculo se puede realizar de una manera más simple, apoyandonos de la librería 
# statsmodels de la siguiente manera:

import statsmodels.formula.api as smf
reg = smf.ols('Salario ~ Educacion + Experiencia + Permanencia', data=df) 
res = reg.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Salario   R-squared:                       0.145
Model:                            OLS   Adj. R-squared:                  0.134
Method:                 Least Squares   F-statistic:                     13.68
Date:                Thu, 11 Aug 2022   Prob (F-statistic):           2.82e-08
Time:                        20:06:11   Log-Likelihood:                -691.53
No. Observations:                 247   AIC:                             1391.
Df Residuals:                     243   BIC:                             1405.
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       4.3301      0.823      5.262      0.000       2.709       5.951
Educacion       0.0758      0.052      1.447      0.149      -0.027       0.179
Experiencia    -0.0042      0.023     -0.185      0.853      -0.049       0.040
Permanencia     0.2215      0.041      5.394      0.000       0.141       0.302
==============================================================================
Omnibus:                       94.845   Durbin-Watson:                   1.906
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              370.191
Skew:                           1.566   Prob(JB):                     4.11e-81
Kurtosis:                       8.115   Cond. No.                         78.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.